In [1]:

!pip install mysql-connector-python

import mysql.connector
from mysql.connector import Error
import pandas as pd

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.4.0)

In [2]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

password = "sourav01798"
db = "python_sql"
connection = create_server_connection("localhost", "root", password)

MySQL Database connection successful

In [3]:
 def create_database(connection,query):
     cursor = connection.cursor()
     try:
         cursor.execute(query)
         print("Database created successfully")
     except Error as err:
         print(f"Error:'{err}'")

create_database_query = "Create database python_sql"
create_database(connection,create_database_query)

Error:'1007 (HY000): Can't create database 'python_sql'; database exists'

In [4]:
def create_db_connection(host_name,user_name,user_password,db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password,
            database = db_name)
        
        print("Database connected successfully")
    except Error as err:
        print(f"Error:'{err}'")
    return connection

In [5]:
#commit instructs the database to make the changes permanent and visible to other connections or transactions. If an error occurs before committing, the changes can be rolled back, ensuring data integrity.

def execute_query(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error:'{err}'")

In [6]:
create_orders_query = """
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone int);
"""

db_connection = create_db_connection("localhost", "root", password, db)
execute_query(db_connection, create_orders_query)

Database connected successfully
Error:'1050 (42S01): Table 'orders' already exists'

In [7]:
data_orders = """
insert into orders values
(101,'Sourav','Mobile','2024-5-26',1,80000,01858557886),
(102,'Asif','laptop','2024-5-26',1,90000,01858557886),
(103,'khan','watch','2024-5-26',2,50000,01858557886),
(104,'Arefin','Tab','2024-5-26',1,80000,01798406271),
(105,'Rahman','Desktop','2024-5-26',1,100000,01619753244),
(106, 'MARKS', 'Desktop', datetime.date(2020, 5, 26), 1, 30000.0, '1619753244');
"""
db_connection = create_db_connection("localhost", "root", password, db)
execute_query(db_connection, data_orders)

Database connected successfully
Error:'1630 (42000): FUNCTION datetime.date does not exist. Check the 'Function Name Parsing and Resolution' section in the Reference Manual'

In [8]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [23]:
see_all_orders = """
select * from orders
"""
db_connection = create_db_connection("localhost", "root", password, db)
results = read_query(db_connection, see_all_orders)

order_number = 1  # Initialize the order number counter

for result in results:
    print(f"Order {order_number}:- {result}")
    order_number += 1

Database connected successfully
Order 1:- (101, 'Sourav', 'Mobile', datetime.date(2024, 5, 26), 1, 80000.0, '1858557886')
Order 2:- (102, 'Asif', 'laptop', datetime.date(2024, 5, 26), 1, 90000.0, '1858557886')
Order 3:- (103, 'khan', 'watch', datetime.date(2024, 5, 26), 2, 50000.0, '1858557886')
Order 4:- (104, 'Arefin', 'Tab', datetime.date(2024, 5, 26), 1, 80000.0, '1798406271')
Order 5:- (105, 'Rahman', 'Desktop', datetime.date(2024, 5, 26), 1, 100000.0, '1619753244')

In [10]:
indivudual_coloumns = """
select customer_name,phone from orders
"""
db_connection = create_db_connection("localhost", "root", password, db)
results = read_query(db_connection, indivudual_coloumns)

order_number = 1  # Initialize the order number counter

for result in results:
    print(f"Order {order_number}:- {result}")
    order_number += 1

Database connected successfully
Order 1:- ('Sourav', '1858557886')
Order 2:- ('Asif', '1858557886')
Order 3:- ('khan', '1858557886')
Order 4:- ('Arefin', '1798406271')
Order 5:- ('Rahman', '1619753244')
Order 6:- ('MARKS', '1619753244')

In [11]:
only_year = """
select year(date_ordered) from orders
"""
db_connection = create_db_connection("localhost", "root", password, db)
results = read_query(db_connection, only_year)

order_number = 1  # Initialize the order number counter

for result in results:
    print(f"Order {order_number}:- {result}")
    order_number += 1

Database connected successfully
Order 1:- (2024,)
Order 2:- (2024,)
Order 3:- (2024,)
Order 4:- (2024,)
Order 5:- (2024,)
Order 6:- (2020,)

In [12]:
unique_year = """
select distinct year(date_ordered) from orders
"""
db_connection = create_db_connection("localhost", "root", password, db)
results = read_query(db_connection, unique_year)

order_number = 1  # Initialize the order number counter

for result in results:
    print(f"Order {order_number}:- {result}")
    order_number += 1

Database connected successfully
Order 1:- (2024,)
Order 2:- (2020,)

In [13]:
find_use_year = """
select * from orders where date_ordered < "2024-5-20"
"""
db_connection = create_db_connection("localhost", "root", password, db)
results = read_query(db_connection, find_use_year)

order_number = 1  # Initialize the order number counter

for result in results:
    print(f"Order {order_number}:- {result}")
    order_number += 1

Database connected successfully
Order 1:- (106, 'MARKS', 'Desktop', datetime.date(2020, 5, 26), 1, 35000.0, '1619753244')

In [14]:
find_use_year_2 = """
select * from orders where date_ordered > "2020-5-27"
"""
db_connection = create_db_connection("localhost", "root", password, db)
results = read_query(db_connection, find_use_year_2)

order_number = 1  # Initialize the order number counter

for result in results:
    print(f"Order {order_number}:- {result}")
    order_number += 1

Database connected successfully
Order 1:- (101, 'Sourav', 'Mobile', datetime.date(2024, 5, 26), 1, 80000.0, '1858557886')
Order 2:- (102, 'Asif', 'laptop', datetime.date(2024, 5, 26), 1, 90000.0, '1858557886')
Order 3:- (103, 'khan', 'watch', datetime.date(2024, 5, 26), 2, 50000.0, '1858557886')
Order 4:- (104, 'Arefin', 'Tab', datetime.date(2024, 5, 26), 1, 80000.0, '1798406271')
Order 5:- (105, 'Rahman', 'Desktop', datetime.date(2024, 5, 26), 1, 100000.0, '1619753244')

In [15]:
order_by = """
select * from orders order by unit_price
"""
db_connection = create_db_connection("localhost", "root", password, db)
results = read_query(db_connection, order_by)

order_number = 1  # Initialize the order number counter

for result in results:
    print(f"Order {order_number}:- {result}")
    order_number += 1

Database connected successfully
Order 1:- (106, 'MARKS', 'Desktop', datetime.date(2020, 5, 26), 1, 35000.0, '1619753244')
Order 2:- (103, 'khan', 'watch', datetime.date(2024, 5, 26), 2, 50000.0, '1858557886')
Order 3:- (101, 'Sourav', 'Mobile', datetime.date(2024, 5, 26), 1, 80000.0, '1858557886')
Order 4:- (104, 'Arefin', 'Tab', datetime.date(2024, 5, 26), 1, 80000.0, '1798406271')
Order 5:- (102, 'Asif', 'laptop', datetime.date(2024, 5, 26), 1, 90000.0, '1858557886')
Order 6:- (105, 'Rahman', 'Desktop', datetime.date(2024, 5, 26), 1, 100000.0, '1619753244')

In [24]:
#create own data frame from db using pandas

from_db = []

for result in results:
    result = list(result)
   
    from_db.append(result)
     
columns = ["order_id","customer_name","product_name","date_ordered","quantity","unit_price","phone"]
df = pd.DataFrame(from_db,columns = columns)
display(df)

,order_id,customer_name,product_name,date_ordered,quantity,unit_price,phone
0,101,Sourav,Mobile,2024-05-26,1,80000.0,1858557886
1,102,Asif,laptop,2024-05-26,1,90000.0,1858557886
2,103,khan,watch,2024-05-26,2,50000.0,1858557886
3,104,Arefin,Tab,2024-05-26,1,80000.0,1798406271
4,105,Rahman,Desktop,2024-05-26,1,100000.0,1619753244

In [17]:

update_unit_price = """
update orders
set unit_price = 35000
where order_id = 106
"""


db_connection = create_db_connection("localhost", "root", password, db)
execute_query(db_connection, update_unit_price)

Database connected successfully
Query was successful

In [21]:
delete_order = """
delete from orders
where order_id = 106
"""

db_connection = create_db_connection("localhost", "root", password, db)
execute_query(db_connection, delete_order)

Database connected successfully
Query was successful